body {
  background-color: white;
}

td {
  height: 48px;
  font-size: 17px;
}

option {
  text-align: left;
  /* reset to left*/
}

#year {
  width: 143px;
}

#submitBtn {
  background-color: #594fdf;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
}

.material-icons.md-18 { font-size: 10px; }

.form-select .form-select-lg .mb-3:hover {
  background-color: #594fdf;
}

#submitBtn:hover{background-color:orange;}

/* YEAR tooltip*/
.ttYear {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.ttYear .ttYearText {
  visibility: hidden;
  width: 120px;
  background-color: #6183b6;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.ttYear:hover .ttYearText {
  visibility: visible;
}

/* EXTRAS tooltip*/
.ttExtras {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.ttExtras .ttExtrasText {
  visibility: hidden;
  width: 200px;
  background-color: #6183b6;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.ttExtras:hover .ttExtrasText {
  visibility: visible;
}


/* HEADING tooltip*/
.ttHeading {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.ttHeading .ttHeadingText {
  visibility: hidden;
  width: 400px;
  height: 70px;
  background-color: #6183b6;
  color: #fff;
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.ttHeading:hover .ttHeadingText {
  visibility: visible;
}